<div class="list-group">

      <a href="" class="list-group-item">Telefonlar</a>
      <a href="" class="list-group-item">Bilgisayarlar</a>
      <a href="" class="list-group-item">Laptoplar</a>

</div>