
<div class="row">
     
      <% if(products.length > 0) { %>

      <% products.forEach((product) => { %>
      
            <div class="col-md-4">
                  <div class="card my-3">
                        <img src="/img/<%= product.imageUrl %> "
                              class="card-img-top" alt="...">
                        <div class="card-body">
                              <h5 class="card-title">
                                    <a href="#"><%= product.name %></a>    
                                    </h5>
                              <p class="card-text"><%= product.description %> </p>
            
                        </div>
            
                        <div class="card-footer">
                              <small style="font-weight: bolder;">
                                    <i class="fas fa-lira-sign"></i>  <%= product.price %> TL 
                              </small>
                              <a href="#" class="btn btn-dark btn-sm float-end">
                                    Details
                              </a>
                        </div>
                  </div>
            
            </div>
            
            <%     }) %>
      
      <%  }  else { %> 
            <div class="col-md-4 mt-4">
                  <h2>Görüntülenecek ürün yok</h2>
            </div>

      <%  } %>
</div>